@import './styles/theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-size: var(--font-sm);
  line-height: var(--leading-normal);
  font-weight: var(--font-normal);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

#root {
  min-height: 100vh;
}
